name: acceptance-tests

on:
  workflow_dispatch:
    inputs:
      ACCEPTANCE_URL:
        description: 'Url of the target application'
        required: true

env:
  ACCEPTANCE_URL: ${{ github.event.inputs.ACCEPTANCE_URL }}

jobs:
  acceptance-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - run: echo Running on target url $ACCEPTANCE_URL
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.3.2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run tests
        uses: DevExpress/testcafe-action@latest
        with:
          args: 'chrome test/acceptance'
