name: acceptance-tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  acceptance-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install root
        run: npm install
      - name: Cypress create-react-app
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          install: false
          spec: cypress/integration/create-react-app.spec.ts
          start: npm start --prefix ./examples/create-react-app
      - name: Cypress persisted-queries Mercurius
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          install: false
          spec: cypress/integration/persisted-queries.spec.ts
          start: npm run start:mercurius --prefix ./examples/persisted-queries/server, npm start --prefix ./examples/persisted-queries/client
        env:
          SERVER_PORT: 8001
          REACT_APP_SERVER_PORT: 8001
          PORT: 3002
          CYPRESS_CLIENT_PORT: 3002
      - name: Cypress persisted-queries Apollo Server
        uses: cypress-io/github-action@v4
        with:
          install: false
          spec: cypress/integration/persisted-queries.spec.ts
          start: npm run start:apollo --prefix ./examples/persisted-queries/server, npm start --prefix ./examples/persisted-queries/client
        env:
          SERVER_PORT: 8002
          REACT_APP_SERVER_PORT: 8002
          PORT: 3003
          CYPRESS_CLIENT_PORT: 3003
