name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Cache node modules
        uses: actions/cache@v2.1.6
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('**/package.json') }}
      - name: Use Node.js 16
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 16
      - run: npm install
      - run: npm run lint
      - run: npm run test:coverage
      - uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
